<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <img src="assets/logo.jpg" class="logo" height="200" alt="Logo" style="mix-blend-mode:color-burn">
    <h1 class="display-3">News App </h1>
    <p class="lead">Stay Informed, Stay Ahead: Your Source for Breaking News</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>
</div>

<%- include('partials/footer') %>
